<div class="transparentbg" *ngIf="bgoverly"></div>
<div class="chat-bot__cards">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>Search</li>
                    <li>Update</li>
                    <li>Delete</li>
                    <li>Jira</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="chatbotPosition" *ngIf="openChatBox">
    <div class="chatbotheader">
        TDM Genie
        <span class="closechatwindow" (click)="closeChatBox()"><img src="../../assets/close.png"> </span>
    </div>
    <div #myList class="chatbodywrapper" (keyup.enter)="sendQueryAndGetResponse()">
        <div class="chatbotbody" >
            <div class="systemchat">
                <div class="systemtext">What can I help you with today?</div>
            </div>
            <div>
                <div *ngFor="let reply of responseList; let last = last">
                
                    <div class="userchat" *ngIf="reply.from === 'user'">
                        <div class="usertext">{{reply.response}}</div>
                    </div>
                    <div class="systemchat" *ngIf="reply.from === 'system'">
                        <div class="systemtext">{{reply.response}}</div>
                    </div>
                    {{last ? scrollToBottom() : ''}}
                </div>
            </div>
            <div class="sendbox">
                <textarea name="" id="" cols="48" rows="2" [(ngModel)]="chatQuery" placeholder="Type your query here"></textarea>
                <button  style="border-radius: 0;" type="button" class="btn btn-primary" (click)="sendQueryAndGetResponse()">Send</button>
            </div>
            
        </div>
    </div>
</div>

<div class="chat-bot__chaticon">
    <div class="askme">Ask me</div>
    <span (click)="showChatBox()"><img src="../../assets/chat-icon.png"></span>
</div>